IncidentReportWebService/TrafficUpdateClient/Service References/ServiceReference1/Service1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/TrafficService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/TrafficService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfTrafficList">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TrafficList" nillable="true" type="tns:TrafficList" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTrafficList" nillable="true" type="tns:ArrayOfTrafficList" />
  <xs:complexType name="TrafficList">
    <xs:sequence>
      <xs:element minOccurs="0" name="endTime" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="fullDesc" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="severity" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="shortDesc" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="startTime" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TrafficList" nillable="true" type="tns:TrafficList" />
  <xs:complexType name="CompositeType">
    <xs:sequence>
      <xs:element minOccurs="0" name="BoolValue" type="xs:boolean" />
      <xs:element minOccurs="0" name="StringValue" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CompositeType" nillable="true" type="tns:CompositeType" />
</xs:schema>