Twitter web service/TwitterClient/TwitterClient/Service References/ServiceReference1/Service1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/restFullData" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/restFullData" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfTwitterModel">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TwitterModel" nillable="true" type="tns:TwitterModel" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTwitterModel" nillable="true" type="tns:ArrayOfTwitterModel" />
  <xs:complexType name="TwitterModel">
    <xs:sequence>
      <xs:element minOccurs="0" name="AuthorName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AuthorUrl" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Content" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ProfileImage" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Published" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="screen_name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TwitterModel" nillable="true" type="tns:TwitterModel" />
</xs:schema>