Twitter web service/TwitterClient/TwitterClient/Service References/ServiceReference1/Service11.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:22815/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/restFullData" />
  <xs:element name="GetTweets">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="twitterHashTag" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTweetsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/restFullData" minOccurs="0" name="GetTweetsResult" nillable="true" type="q1:ArrayOfTwitterModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>